.colorChip {
	position: relative;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 1rem;
	cursor: pointer;
	transition: .25s;
}
.colorChip.lock::after {
	content: '🔒';
}
.colorChip.lock:hover::after {
	content: '🔓';
}